.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.App-header {
  background-color: black;
  color: white;
  padding: 40px;
}

textarea {
  width: 80%;
  height: 200px;
  margin: 20px auto;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 8px;
  resize: none;
}

.buttons {
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.output {
  border: 2px solid #007bff;
  padding: 15px;
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 8px;
}

.App-link {
  color: #61dafb;
}
